<div class="video-container">
  <video 
  
  #video  
         width="600"
         height="700"
         autoplay
         muted>
  </video>
  <canvas #canvas></canvas>

</div>
<button (click)="vidoeEnable()">enable</button>

<button (click)="vidoeDisable()">disable</button>

<button (click)=" takeSnapshot()">snap</button>


<button (click)="getevents()">click</button>
<!-- tensorflow -->
<!-- <div *ngIf="!mediaLoaded">Loading media...</div>
<canvas *ngIf="mediaLoaded" id="myCanvas"></canvas> -->
<!-- 
<div class="video-container">
  <video #video (load)="onMediaLoad()"
         [width]="WIDTH"
         [height]="HEIGHT"
         autoplay
         muted>
  </video>
  <canvas #canvas></canvas>
</div> -->